#logo{
    width: 10%;
}

#keyInfo{
    display:flex; 
    justify-content: space-around;
    align-items: center;
    background-color: #3A85CA;
    font-family:'Courier New', Courier, monospace;
    padding: 10px;
    margin: -30px;
    width: 100%; 
}

#title{
    display:flex; 
    justify-content: space-around;
    align-items: center;
    font-family: 'Andale Mono', monospace;
    padding: 75px;
    font-size: x-large;
}

#slideshow{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70vw;
    height: 50vw;
    padding: 75px;
    background-color: white;
    margin: 5vw; 
}

#menu{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    height: 40vw;
    padding: 75px;
    background-color: white;
    margin: 5vw;
}

#location{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    height: 40vw;
    padding: 75px;
    background-color: white;
    margin: 5vw;
}


.slideshowImg{
    display: flex;
    justify-content: center;
    width: 60vw;
}

.menuItems{
    display: flex; 
    justify-content: space-around;
    align-items: center;
    flex-direction: row; 

}

.menuImgs{
    width: 10vw;
}

.m1{
    width: 10vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20%;
}

.m2{
    width: 10vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20%;
}

.m3{
    width: 10vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20%;
}

.locImg{
    width: 35vw;
}

.locSection{
    display:flex;
    align-items: center;
    flex-direction: row;
}

.locTSection{
    margin: 5%;
    width: 25vw;
    display:flex;
    align-items: center;
    flex-direction: column;
}

.locText1{
    display:flex;
    align-items: center;
    flex-direction: column;
    font-size: large;
}

.locText2{
    display:flex;
    align-items: center;
    flex-direction: column;
    font-size: large;
}

body{
    background-color: #CCDFDE;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    width: 15vw;
    height: 4vw;
    background-color: #CCDFDE;
    text-align: center;
}

